<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='formulario.css')}}">
</head>
<body>
    <img src="{{ url_for('static', filename='img/logo_avia.png') }}" class="logo" width="200" height="100">
    <div class="container">
        <h1>En Reconquista queremos ayudar a las personas mayores</h1>
        <br>
        <p>¡Hola! Esperamos que te encuentres muy bien.</p><br>
        <p>Con el equipo de Fundación Cuidados de Salud, diseñamos este formulario para poder obtener información que nos ayude a pensar estrategias para mejorar la vida de los adultos mayores de la ciudad como vos.</p><br>
        <p>Te voy a realizar una serie de preguntas que nos van a llevar entre 10 y 15 minutos y que nos van a ayudar mucho a mejorar nuestra tecnología para predecir cuestiones de salud.</p><br>
        <p>Quiero contarte que todos los datos recabados serán únicamente utilizados con fines de investigación.</p><br>
        <p>Bien, ¡Empecemos!</p>
        <br><br>
        <form method="POST">

            <h2>Datos Sociodemográficos</h2><br>
            <p>Acá te vamos a consultar algunos datos personales que nos sirven para entender mejor cuál es la población con la que trabajamos.</p><br>

            <label for="fecha_nac">1 - Fecha de nacimiento:</label>
            <input type="date" id="fecha_nac" name="fecha_nacimiento" required>
            <br><br>

            <label>2 - ¿Cuál es su estado civil?</label><br>
            <input type="radio" id="sol" name="estado_civil" value="sol" required>
            <label for="sol">Soltero/Soltera</label><br>
            <input type="radio" id="cas" name="estado_civil" value="cas">
            <label for="cas">Casado/Casada</label><br>
            <input type="radio" id="conv" name="estado_civil" value="conv">
            <label for="conv">Conviviente</label><br>
            <input type="radio" id="divo" name="estado_civil" value="divo">
            <label for="divo">Divorciado/a Separado/a</label><br>
            <input type="radio" id="viu" name="estado_civil" value="viu">
            <label for="viu">Viudo/Viuda</label>
            <br><br>

            <label>3 - Sexo de nacimiento:</label><br>
            <input type="radio" id="varon" name="sexo" value="varon" required>
            <label for="varon">Varón</label><br>
            <input type="radio" id="mujer" name="sexo" value="mujer">
            <label for="mujer">Mujer</label><br>
            <br><br>

            <label>4 - ¿Cuál es el grado de escolaridad máxima alcanzada?</label><br>
            <input type="radio" id="Titulo universitario" name="escolaridad" value="1" required>
            <label for="Titulo universitario">Título universitario</label><br>
            <input type="radio" id="Tecnico" name="escolaridad" value="2">
            <label for="Tecnico">Técinco</label><br>
            <input type="radio" id="Bachillerato/Preparatoria" name="escolaridad" value="3">
            <label for="Bachillerato/Preparatoria">Bachillerato/Preparatoria</label><br>
            <input type="radio" id="Secundaria completa" name="escolaridad" value="4">
            <label for="Secundaria completa">Secundaria completa</label><br>
	        <input type="radio" id="Primaria completa" name="escolaridad" value="5">
            <label for="Primaria completa">Primaria completa</label><br>
	        <input type="radio" id="Otro" name="escolaridad" value="6">
            <label for="Otro">Otro</label><br>
            <input type="radio" id="Sin estudios" name="escolaridad" value="7">
            <label for="Sin estudios">Sin estudios</label>
            <br><br>

            <label>5 - ¿Cómo definiría su ocupación a lo largo de su vida?</label><br>
            <input type="radio" id="var1" name="ocupacion" value="prof_empre_ger" required>
            <label for="var1">Profesional/Empresario/Cargo Gerencial</label><br>
            <input type="radio" id="var2" name="ocupacion" value="emple_cuent_ama">
            <label for="var2">Ocupaciones Generales/Empleado/Cuentapropista/Ama de casa</label><br>
            <input type="radio" id="var3" name="ocupacion" value="no_trabajo">
            <label for="var3">Nunca trabajó</label>
            <br><br>

            <label>6- Según sus ingresos diría que es...</label><br>
            <input type="radio" id="var1" name="clase_ingresos" value="baja" required>
            <label for="var1">Clase Baja (No consigo alimentarme sin ayuda de otros)</label><br>
            <input type="radio" id="var2" name="clase_ingresos" value="media_baja">
            <label for="var2">Clase Media Baja (Tengo garantizado lo mínimo que necesito)</label><br>
            <input type="radio" id="var3" name="clase_ingresos" value="media">
            <label for="var3">Clase Media (Tengo lo que necesito para vivir bien aunque nada me sobra)</label><br>
            <input type="radio" id="var4" name="clase_ingresos" value="media_alta">
            <label for="var4">Clase Media Alta (Me alcanza para vivir bien y puedo ahorrar)</label><br>
            <input type="radio" id="var5" name="clase_ingresos" value="alta">
            <label for="var5">Clase Alta (No tengo ningún tipo de problemas económicos)</label>
            <br><br><br>

            <h2>Autonomía actual</h2><br>
            <p>Estas preguntas están destinadas a identificar a partir de una serie de preguntas su grado de autonomía actual</p>
            <br><br>

            <label>7-  ¿Qué parte del tiempo durante las últimas 4 semanas se sintió cansado/a?</label><br>
            <input type="radio" id="var1" name="fatigabilidad" value="todo" required>
            <label for="var1">Todo el tiempo (todos los días)</label><br>
            <input type="radio" id="var2" name="fatigabilidad" value="mayor_parte">
            <label for="var2">La mayor parte del tiempo (de 3 a 5 días por semana)</label><br>
            <input type="radio" id="var3" name="fatigabilidad" value="una_parte">
            <label for="var3">Una parte del tiempo (2 veces por semana)</label><br>
            <input type="radio" id="var4" name="fatigabilidad" value="poco">
            <label for="var4">Poco tiempo  (1 vez por semana)</label><br>
            <input type="radio" id="var5" name="fatigabilidad" value="ningun">
            <label for="var5">En ningún momento</label>
            <br><br>

            <label>8- ¿Tiene alguna dificultad para subir 10 escalones sin descansar y sin ningún tipo de ayuda?</label><br>
            <input type="radio" id="var1" name="resistencia" value="si" required>
            <label for="var1">Sí</label><br>
            <input type="radio" id="var2" name="resistencia" value="no">
            <label for="var2">No</label>
            <br><br>

            <label>9- ¿Tiene alguna dificultad para caminar 2 cuadras sin ayuda?</label><br>
            <input type="radio" id="var1" name="deambulacion" value="si" required>
            <label for="var1">Sí</label><br>
            <input type="radio" id="var2" name="deambulacion" value="no">
            <label for="var2">No</label>
            <br><br>

            <label>10- ¿Alguna vez un/a médico/a le dijo que usted tiene  alguna de las siguientes enfermedades?</label>
            <label>MARQUE TODAS LAS QUE CONSIDERE</label><br>
            <input type="checkbox" id="hipertension" name="comorbilidad" value="hipertension">
            <label for="hipertension">Hipertensión</label><br>
            <input type="checkbox" id="diabetes" name="comorbilidad" value="diabetes">
            <label for="diabetes">Diabetes</label><br>
            <input type="checkbox" id="cancer" name="comorbilidad" value="cancer">
            <label for="cancer">Cáncer (que no sea un cáncer de piel de menor importancia)</label><br>
            <input type="checkbox" id="epc" name="comorbilidad" value="epc">
            <label for="epc">Enfermedad Pulmonar Crónica</label><br>
            <input type="checkbox" id="ataque" name="comorbilidad" value="ataque">
            <label for="ataque">Ataque cardíaco</label><br>
            <input type="checkbox" id="insuficiencia" name="comorbilidad" value="insuficiencia">
            <label for="insuficiencia">Insuficiencia Cardíaca Congestiva</label><br>
            <input type="checkbox" id="angina" name="comorbilidad" value="angina">
            <label for="angina">Angina de Pecho</label><br>
            <input type="checkbox" id="asma" name="comorbilidad" value="asma">
            <label for="asma">Asma</label><br>
            <input type="checkbox" id="artritis" name="comorbilidad" value="artritis">
            <label for="artritis">Artritis</label><br>
            <input type="checkbox" id="acv" name="comorbilidad" value="acv">
            <label for="acv">ACV</label><br>
            <input type="checkbox" id="renal" name="comorbilidad" value="renal">
            <label for="renal">Enfermedad renal</label>
            <br><br>

            <label>11 - ¿Ha tenido pérdida de peso de forma involuntaria en el último año?</label><br>
            <input type="radio" id="var1" name="perdida_peso" value="si" required>
            <label for="var1">Sí</label><br>
            <input type="radio" id="var2" name="perdida_peso" value="no">
            <label for="var2">No</label>
            <br><br>

            <button type="submit">Continuar</button>
        </form>
        <a href="{{ url_for('logout') }}" class="btn">Cerrar Sesión</a>

        <!-- <h3>Paciente con riesgo de fragilidad:</h3>
        <p>{{prediction}}</p> -->
 


    </div>
</body>
</html>
