<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='formulario.css')}}">
</head>
<body>
    <img src="{{ url_for('static', filename='img/logo_avia.png') }}" class="logo" width="200" height="100">
    <div class="container">
        <h1>En Reconquista queremos ayudar a las personas mayores</h1>
        <br>
        
        <form method="POST">

            <h2>Sobre su Salud</h2>
            <br>
            <!-- si es si "Recomendaciones de ejercicio"-->
            <label>12- ¿Tiene diagnóstico de Hipertensión arterial?'</label><br>
            <input type="radio" id="var1" name="hipertension" value="si" required>
            <label for="var1">Sí</label><br>
            <input type="radio" id="var2" name="hipertension" value="no">
            <label for="var2">No</label>
            <br><br>
<!-- si es si "Recomendaciones de ejercicio"-->
            <label>13- ¿Tiene angina de pecho? (esto se refiere a dolor de pecho como causa de alteraciones en sus arterias coronarias)</label><br>
            <input type="radio" id="var1" name="angina" value="si" required>
            <label for="var1">Sí</label><br>
            <input type="radio" id="var2" name="angina" value="no">
            <label for="var2">No</label>
            <br><br>
<!-- si es si "Recomendaciones de ejercicio"-->
            <label>14- ¿Tiene insuficiencia cardiaca?</label><br>
            <input type="radio" id="var1" name="insuficiencia_card" value="si" required>
            <label for="var1">Sí</label><br>
            <input type="radio" id="var2" name="insuficiencia_card" value="no">
            <label for="var2">No</label>
            <br><br>
<!-- si es si "Recomendaciones de ejercicio"-->
            <label>15- ¿Ha tenido alguna vez un infarto?</label><br>
            <input type="radio" id="var1" name="infarto" value="si" required>
            <label for="var1">Sí</label><br>
            <input type="radio" id="var2" name="infarto" value="no">
            <label for="var2">No</label>
            <br><br>
<!-- si es si "Recomendaciones de ejercicio"-->
            <label>16- ¿Ha tenido alguna vez un ACV?</label><br>
            <input type="radio" id="var1" name="acv" value="si" required>
            <label for="var1">Sí</label><br>
            <input type="radio" id="var2" name="acv" value="no">
            <label for="var2">No</label>
            <br><br>
<!-- si es si "Recomendaciones de ejercicio" y diabetes-->
            <label>17- ¿Tiene Diabetes?</label><br>
            <input type="radio" id="var1" name="diabetes" value="si" required>
            <label for="var1">Sí</label><br>
            <input type="radio" id="var2" name="diabetes" value="no">
            <label for="var2">No</label>
            <br><br>
<!-- si es si "epocYfumar"-->
            <label>18- ¿Tiene EPOC?</label><br>
            <input type="radio" id="var1" name="epoc" value="si" required>
            <label for="var1">Sí</label><br>
            <input type="radio" id="var2" name="epoc" value="no">
            <label for="var2">No</label>
            <br><br>
<!-- si es si "artrosisYRecomendaciones de ejercicio"-->
            <label>19- ¿Tiene Artrosis?</label><br>
            <input type="radio" id="var1" name="artrosis" value="si" required>
            <label for="var1">Sí</label><br>
            <input type="radio" id="var2" name="artrosis" value="no">
            <label for="var2">No</label>
            <br><br>
<!-- si es si "Recomendaciones de ejercicio"-->
            <label>20- ¿Tiene Osteoporosis?</label><br>
            <input type="radio" id="var1" name="osteoporosis" value="si" required>
            <label for="var1">Sí</label><br>
            <input type="radio" id="var2" name="osteoporosis" value="no">
            <label for="var2">No</label>
            <br><br>
<!-- si es si "incontinencia"-->
            <label>21- ¿Tiene Incontinencia urinaria?</label><br>
            <input type="radio" id="var1" name="continencia" value="si" required>
            <label for="var1">Sí</label><br>
            <input type="radio" id="var2" name="continencia" value="no">
            <label for="var2">No</label>
            <br><br>

            <label for="obesidad_abdominal">22- Medida de la cintura en centímetros. Para responder esta pregunta, necesitará una cinta métrica para poder tomar las dimensiones</label>
            <input type="number" id="obesidad_abdominal" name="obesidad_abdominal" step="0.01" required>
            <br><br>
<!-- si es si "saludmental"-->
            <label>23- ¿Presenta alguna patología de salud mental?</label><br>
            <input type="radio" id="var1" name="d_mentales" value="si" required>
            <label for="var1">Sí</label><br>
            <input type="radio" id="var2" name="d_mentales" value="no">
            <label for="var2">No</label>
            <br><br>

            <label for="peso">24 -¿Cuál es su peso aproximado en kilogramos?</label>
            <input type="number" id="peso" name="peso" step="0.01" required>
            <br><br>

            <label for="altura">25 -¿Cuál es su altura aproximada en metros?</label>
            <input type="number" id="altura" name="altura" step="0.01" required>
            <br><br>

            <h2>Sobre sus hábios</h2>
            <br>
<!-- si es si "fumar"-->
            <label>26- ¿Fuma?</label><br>
            <input type="radio" id="var1" name="fuma" value="si" required>
            <label for="var1">Sí</label><br>
            <input type="radio" id="var2" name="fuma" value="no">
            <label for="var2">No</label>
            <br><br>
<!-- si value es 1,2 ó 3 "alcohol"-->
            <label>27- ¿Consume alcohol?</label><br>
            <input type="radio" id="var1" name="alcohol" value="1" required>
            <label for="var1">Casi todos los días</label><br>
            <input type="radio" id="var2" name="alcohol" value="2">
            <label for="var2">Cinco o seis días a la semana</label><br>
            <input type="radio" id="var3" name="alcohol" value="3">
            <label for="var3">Tres o cuatro dias a la semana</label><br>
            <input type="radio" id="var4" name="alcohol" value="4">
            <label for="var4">Una o dos veces a la semana</label><br>
            <input type="radio" id="var5" name="alcohol" value="5">
            <label for="var5">Una o dos veces al mes</label><br>
            <input type="radio" id="var6" name="alcohol" value="6">
            <label for="var6">Una vez cada dos meses</label><br>
            <input type="radio" id="var7" name="alcohol" value="7">
            <label for="var7">Una o dos veces al año</label><br>
            <input type="radio" id="var8" name="alcohol" value="8">
            <label for="var8">Ninguna en los ultimos 12 meses</label>
            <br><br>

            <h2>Sobre la autopercepción de su salud </h2>
            <br>

            <label>28- Usted piensa que su audición es:</label><br>
            <input type="radio" id="var1" name="audicion" value="buena" required>
            <label for="var1">Buena</label><br>
            <input type="radio" id="var2" name="audicion" value="regular">
            <label for="var2">Regular</label><br>
            <input type="radio" id="var3" name="audicion" value="mala">
            <label for="var3">Mala</label>
            <br><br>

            <label>29- Usted piensa que su Visión es:</label><br>
            <input type="radio" id="var1" name="vision" value="buena" required>
            <label for="var1">Buena</label><br>
            <input type="radio" id="var2" name="vision" value="regular">
            <label for="var2">Regular</label><br>
            <input type="radio" id="var3" name="vision" value="mala">
            <label for="var3">Mala</label>
            <br><br>
          
            <label>30- ¿Se ha caído en el último año?</label><br>
            <input type="radio" id="var1" name="caidas" value="1" required>
            <label for="var1">Sí</label><br>
            <input type="radio" id="var2" name="caidas" value="2">
            <label for="var2">No</label>
            <br><br>

            <label>31- Si usted tuviera que describir su estado de salud, diría que es:</label><br>
            <input type="radio" id="var1" name="estado_salud" value="1" required>
            <label for="var1">Excelente</label><br>
            <input type="radio" id="var2" name="estado_salud" value="2">
            <label for="var2">Muy bueno</label><br>
            <input type="radio" id="var3" name="estado_salud" value="3">
            <label for="var3">Bueno</label><br>
            <input type="radio" id="var4" name="estado_salud" value="4">
            <label for="var4">Regular</label><br>
            <input type="radio" id="var5" name="estado_salud" value="5">
            <label for="var5">Malo</label>
            <br><br>

            <label>32- ¿Tiene algún dolor que lo acompañe crónicamente? si es así ¿que intensidad le pondría?</label><br>
            <input type="radio" id="var1" name="dolor" value="2" required>
            <label for="var1">No tiene ningún dolor crónico</label><br>
            <input type="radio" id="var2" name="dolor" value="1">
            <label for="var2">Tiene dolor crónico con intensidad baja</label><br>
            <input type="radio" id="var3" name="dolor" value="1">
            <label for="var3">Tiene dolor crónico con intensidad moderada</label><br>
            <input type="radio" id="var4" name="dolor" value="1">
            <label for="var4">Tiene dolor crónico con intensidad alta</label>
            <br><br>

            <label>33- Usted tiene o ha tenido problemas de equilibrio como por ejemplo siente que le da vueltas el lugar en el que está </label><br>
            <input type="radio" id="var1" name="equilibrio" value="nunca" required>
            <label for="var1">Nunca he tenido problemas de equilibrio</label><br>
            <input type="radio" id="var2" name="equilibrio" value="ocasiones">
            <label for="var2">En ocasiones he tenido problemas de equilibrio</label><br>
            <input type="radio" id="var3" name="equilibrio" value="todo_tiempo">
            <label for="var3">Todo el tiempo tengo problemas de equilibrio</label>
            <br><br>

            <label>34- Usted diría que su memoria es:</label><br>
            <input type="radio" id="var1" name="memoria" value="1" required>
            <label for="var1">Excelente</label><br>
            <input type="radio" id="var2" name="memoria" value="2">
            <label for="var2">Muy bueno</label><br>
            <input type="radio" id="var3" name="memoria" value="3">
            <label for="var3">Bueno</label><br>
            <input type="radio" id="var4" name="memoria" value="4">
            <label for="var4">Regular</label><br>
            <input type="radio" id="var5" name="memoria" value="5">
            <label for="var5">Malo</label>
            <br><br>

            <label>35- ¿Cómo piensa que es su sueño por las noches?</label><br>
            <input type="radio" id="var1" name="suenio" value="1" required>
            <label for="var1">Muy bueno</label><br>
            <input type="radio" id="var2" name="suenio" value="2">
            <label for="var2">Bueno</label><br>
            <input type="radio" id="var3" name="suenio" value="3">
            <label for="var3">Malo</label><br>
            <input type="radio" id="var4" name="suenio" value="4">
            <label for="var4">Muy malo</label>
            <br><br>

            <label>36- ¿Se siente solo/a?</label><br>
            <input type="radio" id="var1" name="soledad" value="1" required>
            <label for="var1">Nunca o casi nunca</label><br>
            <input type="radio" id="var2" name="soledad" value="2">
            <label for="var2">A veces</label><br>
            <input type="radio" id="var3" name="soledad" value="3">
            <label for="var3">Muy frecuente o siempre</label>
            <br><br>

            <label>37- Durante la última semana, ¿sintió que su sueño fue insatisfactorio?</label><br>
            <input type="radio" id="var1" name="fatigabilidad_1" value="1" required>
            <label for="var1">Sí</label><br>
            <input type="radio" id="var2" name="fatigabilidad_1" value="2">
            <label for="var2">No</label>
            <br><br>

            <label>38- Durante la última semana, ¿le ha costado comenzar el día?</label><br>
            <input type="radio" id="var1" name="fatigabilidad_2" value="1" required>
            <label for="var1">Sí</label><br>
            <input type="radio" id="var2" name="fatigabilidad_2" value="2">
            <label for="var2">No</label>
            <br><br>

            <h2>Algunas pruebas</h2>
            <br>

            <label for="test_silla">39- Ahora le pediremos que realice una pequeña actividad muy sencilla que nos ayudará a evaluar su fuerza en las piernas y su equilibrio. Se llama el 'test de la silla'. Lo haremos despacio, sin apuro, y yo estaré aquí para guiarle</label><br><br>
            <li>Por favor, siéntese en esta silla.</li>
            <li>Cuando le indique, levántese de la silla sin usar los brazos para apoyarse, y luego vuelva a sentarse.</li>
            <li>Haremos esto durante un minuto, si es posible para usted.</li>
            <br>
            <p>No se preocupe si siente que necesita hacer una pausa o si le resulta difícil, solo hágalo lo mejor que pueda. Si en algún momento no se siente cómodo, me avisa.</p><br>
            <p><strong>Facilitador:</strong> Contar cantidad de veces que lo realiza en 1 minuto y dejarlo asentado (Si no puede hacerse contestar 0).</p><br>
            <input type="number" id="test_silla" name="test_silla" required>
            <br><br>

            <label for="tiempo_caminar_promedio">40- Bien, ahora haremos otra prueba. Se llama “test de la caminata".</label><br>
            <p>Le voy a pedir que camine 2,4 metros (esto puede ser el largo de una cama y media, o un sofá de 3 cuerpos) y con un cronómetro, tome el tiempo en segundos que tarda en hacerlo.</p>
            <p>Una vez más, hágalo a su ritmo, y si no puede, no pasa nada.</p><br>
            <input type="number" id="tiempo_caminar_promedio" name="tiempo_caminar_promedio" step="0.01" required>
            <br><br>

            <h2>Sobre pruebas de memoria</h2>
            <br>

            <p>A continuación, le vamos a aplicar una prueba rápida para detectar problemas de memoria.</p><br>
            <p>La prueba se llama Mini-Cog© y es una herramienta muy útil y fácil de aplicar para valorar la función cognitiva.</p><br>
            <p>Le presentamos un video de demostración de cómo realizar esta prueba</p>
            <br>
            <div class="video-container">
                <iframe src="https://www.youtube.com/embed/MiwwVcKyzM4" 
                        title="YouTube video player" frameborder="0" 
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                        allowfullscreen></iframe>
            </div>
            <br><br>

            <label>41- Enunciado de 3 palabras no relacionadas (se le enunciarán tres palabras no relacionadas entre si al participante y se le pedirá que las repita y las recuerde) Por ejemplo: ÁRBOL - ROJO - PERRO.</label><br>
            <input type="radio" id="var1" name="repetir_3_palabras" value="no" required>
            <label for="var1">No repite las palabras o tiene dificultad</label><br>
            <input type="radio" id="var2" name="repetir_3_palabras" value="si">
            <label for="var2">Repite las palabras correctamente</label>
            <br><br>

            <label>42- Test del reloj (Se le pedirá al participante que dibuje la esfera de un reloj analógico y que coloque correctamente las manecillas de acuerdo a la hora correspondiente, por ejemplo las 11:10)</label><br>
            <input type="radio" id="var1" name="test_reloj" value="normal" required>
            <label for="var1">Reloj normal</label><br>
            <input type="radio" id="var2" name="test_reloj" value="anormal">
            <label for="var2">Reloj anormal</label>
            <br><br>

            <label>43- Por último, le voy pedir que escriba nuevamente las palabras que le pedimos que recordara en el ejercicio anterior. (Se puntuará de acuerdo a cuantas pueda repetir)</label><br>
            <input type="radio" id="var1" name="palabras_recordadas" value="0" required>
            <label for="var1">No recuerda ninguna palabra</label><br>
            <input type="radio" id="var2" name="palabras_recordadas" value="1">
            <label for="var2">Recordó 1 palabra</label><br>
            <input type="radio" id="var3" name="palabras_recordadas" value="2">
            <label for="var3">Recordó 2 palabras</label><br>
            <input type="radio" id="var4" name="palabras_recordadas" value="3">
            <label for="var4">Recordó las 3 palabras</label>
            <br><br>

            <h2>Sobre Redes</h2>
            <br>

            <label>44- ¿Usa internet - email?</label><br>
            <input type="radio" id="var1" name="usa_internet_email" value="1" required>
            <label for="var1">Sí</label><br>
            <input type="radio" id="var2" name="usa_internet_email" value="0">
            <label for="var2">No</label>
            <br><br>

            <label>45- ¿Posee teléfono móvil?</label><br>
            <input type="radio" id="var1" name="tiene_celular" value="1" required>
            <label for="var1">Sí</label><br>
            <input type="radio" id="var2" name="tiene_celular" value="0">
            <label for="var2">No</label>
            <br><br>

            <label>46- Usted considera que tiene una red social de apoyo (personas o recursos que lo ayudan en su vida diaria):</label><br>
            <input type="radio" id="var1" name="soporte_social" value="alta" required>
            <label for="var1">Alta (tengo suficientes personas o recursos que pueden ayudarme)</label><br>
            <input type="radio" id="var2" name="soporte_social" value="baja">
            <label for="var2">Baja (no cuento con personas o recursos que puedan ayudarme)</label>
            <br><br>

            <h2>Sobre el estado de ánimo</h2>
            <br>

            <label>47- Ahora vamos a hacerte unas preguntas sobre tu estado de ánimo. De los siguientes enunciados, ¿Cuáles describen mejor su ánimo en las últimas 2 semanas? (marque todas las que considere)</label><br>
            <input type="checkbox" id="var1" name="estado_animo" value="poco_apetito">
            <label for="var1">Tengo poco apetito</label><br>
            <input type="checkbox" id="var2" name="estado_animo" value="no_quitar_tristeza">
            <label for="var2">No puedo quitarme la tristeza</label><br>
            <input type="checkbox" id="var3" name="estado_animo" value="dific_concentracion">
            <label for="var3">Tengo dificultades para concentrarme en lo que hago</label><br>
            <input type="checkbox" id="var4" name="estado_animo" value="deprimido">
            <label for="var4">Me sentí deprimido</label><br>
            <input type="checkbox" id="var5" name="estado_animo" value="no_descanso">
            <label for="var5">Duemo y no descanso</label><br>
            <input type="checkbox" id="var6" name="estado_animo" value="tristeza">
            <label for="var6">Me siento triste</label><br>
            <input type="checkbox" id="var7" name="estado_animo" value="no_seguir_adelante">
            <label for="var7">No puedo seguir adelante</label><br>
            <input type="checkbox" id="var8" name="estado_animo" value="nada_feliz">
            <label for="var8">Nada me hace feliz</label><br>
            <input type="checkbox" id="var9" name="estado_animo" value="mala_persona">
            <label for="var9">Siento que soy una mala persona</label><br>
            <input type="checkbox" id="var10" name="estado_animo" value="perd_interes">
            <label for="var10">He perdido el interés en mis actividades ordinarias</label><br>
            <input type="checkbox" id="var11" name="estado_animo" value="duerme_mucho">
            <label for="var11">Duermo mucho más que lo habitual</label><br>
            <input type="checkbox" id="var12" name="estado_animo" value="mov_lento">
            <label for="var12">Siento que me muevo muy lento</label><br>
            <input type="checkbox" id="var13" name="estado_animo" value="agitado">
            <label for="var13">Me sinto agitado (intranquilo)</label><br>
            <input type="checkbox" id="var14" name="estado_animo" value="dese_muerto">
            <label for="var14">Siento deseos de estar muerto</label><br>
            <input type="checkbox" id="var15" name="estado_animo" value="auto_danio">
            <label for="var15">Quiero hacerme daño</label><br>
            <input type="checkbox" id="var16" name="estado_animo" value="siemp_cansado">
            <label for="var16">Me siento cansado todo el tiempo</label><br>
            <input type="checkbox" id="var17" name="estado_animo" value="disgust">
            <label for="var17">Estoy a disgusto conmigo mismo</label><br>
            <input type="checkbox" id="var18" name="estado_animo" value="perd_peso">
            <label for="var18">He perdido peso sin buscarlo</label><br>
            <input type="checkbox" id="var19" name="estado_animo" value="no_dormir">
            <label for="var19">Me cuesta mucho trabajo dormir</label><br>
            <input type="checkbox" id="var20" name="estado_animo" value="difc_conc_imp">
            <label for="var20">Es difícil concentrarme en las cosas importantes</label>
            <br><br>

            <h2>Sobre sus actividades físicas</h2><br>
            <p>Las siguientes preguntas se refieren a la cantidad de actividad física que realiza usted a a la semana</p>
            <br><br>

            <label>48-Frecuencia con la que realiza actividades vigorosas (jugar deportes como fútbol o tenis, nadar rápido o correr)</label><br>
            <input type="radio" id="var1" name="actividad_fisica_1" value="1" required>
            <label for="var1">Más de una vez a la semana</label><br>
            <input type="radio" id="var2" name="actividad_fisica_1" value="2">
            <label for="var2">Una vez a la semana</label><br>
            <input type="radio" id="var3" name="actividad_fisica_1" value="3">
            <label for="var3">Una a tres veces al mes</label><br>
            <input type="radio" id="var4" name="actividad_fisica_1" value="4">
            <label for="var4">Casi nunca o nunca</label>
            <br><br>

            <label>49-Frecuencia con la que realiza actividades moderadas (caminar rápido, andar en bicicleta a un ritmo tranquilo, bailar o hacer tareas domésticas como barrer o cortar el pasto)</label><br>
            <input type="radio" id="var1" name="actividad_fisica_2" value="1" required>
            <label for="var1">Más de una vez a la semana</label><br>
            <input type="radio" id="var2" name="actividad_fisica_2" value="2">
            <label for="var2">Una vez a la semana</label><br>
            <input type="radio" id="var3" name="actividad_fisica_2" value="3">
            <label for="var3">Una a tres veces al mes</label><br>
            <input type="radio" id="var4" name="actividad_fisica_2" value="4">
            <label for="var4">Casi nunca o nunca</label>
            <br><br>

            <label>50-Frecuencia con la que realiza actividades leves (caminar despacio, estirarse, hacer tareas domésticas ligeras, o estar de pie)</label><br>
            <input type="radio" id="var1" name="actividad_fisica_3" value="1" required>
            <label for="var1">Más de una vez a la semana</label><br>
            <input type="radio" id="var2" name="actividad_fisica_3" value="2">
            <label for="var2">Una vez a la semana</label><br>
            <input type="radio" id="var3" name="actividad_fisica_3" value="3">
            <label for="var3">Una a tres veces al mes</label><br>
            <input type="radio" id="var4" name="actividad_fisica_3" value="4">
            <label for="var4">Casi nunca o nunca</label>
            <br><br>

            <label>Final- ¿Quién completó este formulario?</label><br>
            <input type="radio" id="var1" name="agente" value="paciente" required>
            <label for="var1">Yo lo completé</label><br>
            <input type="radio" id="var2" name="agente" value="otro">
            <label for="var2">Otra persona lo completó por mí.</label>
            <br><br>

            <h3>¡Terminamos! Muchas gracias por su participación.</h3>
            <br>

            <button type="submit">Enviar</button>
        </form>
        <a href="{{ url_for('logout') }}" class="btn">Cerrar Sesión</a>

        <!-- <h3>Paciente con riesgo de fragilidad:</h3>
        <p>{{prediction}}</p> -->
 


    </div>
</body>
</html>
