<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gracias</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='recomendacion.css') }}">
</head>
<body>
    <div class="container">
        <div class="message-box">
            <h1>¡Gracias!</h1>
            <p>¡Gracias por tomarse el tiempo de completar el formulario de salud para adultos mayores! Apreciamos su dedicación y esfuerzo para proporcionarnos esta valiosa información.</p>
            <p>Pronto, recibirá un correo electrónico con recomendaciones personalizadas y pautas importantes basadas en sus respuestas. Si tiene alguna duda o necesita asistencia adicional, no dude en contactarnos.</p>
            <p>¡Le deseamos lo mejor para su bienestar!</p>
        </div>
        <a href="{{ url_for('logout') }}" class="btn">Aceptar</a>
    </div>
</body>
</html>
